@use '../variables';

.thirdSection {
  background-color: variables.$nav-background-color;
  margin: 0;
  padding: 2rem 0;
  color: variables.$sectionHeader-color;
}

.article__third {
  text-align: center;
}

.article__header {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 0;
}

.sectionTable {
  display: flex;
  flex-direction: column;
  padding-right: 5rem!important;
  justify-content: space-evenly;
  align-content: stretch;
}

.first_row, .second_row {
  margin: 0!important;
  display: flex;
  justify-content: center;
}
