@use '../functions' as *;
@use '../variables' as *;
@use 'set-column-width' as *;

@mixin generate-columns {
  $postfixes: var(column-postfix);
  $grid-size: var(grid-size);

  @each $name, $postfix in $postfixes {
    @for $i from 1 through $grid-size {
      .#{var(column-classname)}-#{$postfix}-#{$i} {
        @include set-column-width($postfix, $i);
        margin: 0 auto;
        display: flex;
      }
    }
  }
}