$nav-background-color:#ffffff;
$hamburger-border-color: #d4d4d4;
$link-color: #00000080;
$sectionHeader-color: #0a0a0a;
$link-hover-color: #d4d4d4;
$link-hover-background-color: transparent;
$button-hover-background: #fdcc52